rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contactMessages/{document} {
      allow read, create: if true;
      allow delete: if request.auth != null;
    }
  }
}