<ion-toolbar *ngIf="!isDesktop">
  <img (click)="goHome()" src="../../assets/logos/MROLogoLarge.png">
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-toolbar *ngIf="isDesktop" class="desktop">
  <ion-row class="ion-align-items-center" style="background: transparent;">
    <ion-col size="3" style="background: transparent;">
      <img (click)="goHome()" src="../../assets/logos/MROLogoLarge.png" class="logo ion-text-left">
    </ion-col>
    <ion-col size="9">
      <div class="ion-text-center">
        <ion-button size="large" fill="clear" (click)="goToAbout()" 
        routerDirection="root" routerLinkActive="active-link" class="link">
          About
        </ion-button>
        <ion-button size="large" fill="clear" (click)="goToCredentials()" 
        routerDirection="root" routerLinkActive="active-link" class="link">
          Credentials
        </ion-button>
        <ion-button size="large" fill="clear" (click)="goToContact()" 
        routerDirection="root" routerLinkActive="active-link" class="link">
          Contact
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-toolbar>