<ion-header [translucent]="true">
  <app-my-menubar></app-my-menubar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="contact-row">
      <ion-col size="12" class="ion-no-padding">
        <div class="contact-container mobile-bg-style-scroll">
          <div class="contact-text-container">
            <ion-row>
              <ion-col class="ion-text-center">
                <p #contactTitle class="contact-title"><strong>Contact</strong></p>
              </ion-col>
            </ion-row>
          </div>
        </div>   
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
