ion-row {
  // background-image: url('../../../../assets/ContactFormBackground.jpg');
  background-position: center;
  background-repeat: none;
  padding-bottom: 1em;
}

ion-header {
  color: var(--ion-color-light);
}