<ion-header [translucent]="true">
  <app-my-menubar></app-my-menubar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="credentials-row">
      <ion-col size="12" class="ion-no-padding">
        <div class="credentials-container mobile-bg-style-scroll">
          <div class="credentials-text-container">
            <ion-row>
              <ion-col class="ion-text-center">
                <p #credentialsTitle class="credentials-title"><strong>Credentials</strong></p>
              </ion-col>
            </ion-row>
          </div>
        </div>   
      </ion-col>
    </ion-row>
    <ion-row class="testimonials-row">
      <ion-col size="6" offset="3" class="testimonials-col ion-text-center">
        <p>We are proud to share testimonials from our clients and colleagues.</p>
      </ion-col>
    </ion-row>
    <ion-row (mouseover)=slideStop() (mouseleave)=slideStart() 
      (touchstart)=slideStop() (touchend)=slideStart()>
      <ion-col size="2" class="ion-align-self-center ion-text-center">
        <div *ngIf="showPrevNext" (click)="toPrevSlide()">
          <ion-icon size="large" slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="8">
        <ion-slides [options]="slideOpts" pager="true" >
          <ion-slide>
            <ion-row>
              <ion-col size="12">
                <ion-avatar class="centerAvatar">
                  <img src="../../assets/testimonials/TropicOceanLogo.jpg">
                </ion-avatar>
              </ion-col>
              <ion-col size="12" class="ref-quote">
                <p>
                  <q>As a fleet operator of Caravan aircraft with P&WC PT6 engines, 
                    I’ve relied on Phil’s technical knowledge and expertise. 
                    Since the first day I met him he’s been focused on supporting my team’s 
                    needs, providing solutions for any issues that arise, and saving me 
                    thousands of dollars.</q>
                </p>
                <h3>
                  Rob Ceravolo
                </h3>
                <p>Founder & CEO<br>
                  Tropic Ocean Airways</p>
              </ion-col>
            </ion-row>
          </ion-slide>
          <ion-slide>
            <ion-row>
              <ion-col size="12">
                <ion-avatar class="centerAvatar">
                  <img src="../../assets/testimonials/PropelLogo.jpg">
                </ion-avatar>
              </ion-col>
              <ion-col size="12" class="ref-quote">
                <p>
                  <q>I’ve been friends with Phil for years and have relied on his technical 
                    expertise and support on all things P&WC PT6.  Phil’s synergy with our 
                    group for the level of support and service we aim to provide our clients 
                    has always been a perfect fit. Phil is a direct extension of our efforts 
                    to keep our customers flying safely and affordably.</q>
                </p>
                <h3>
                  Jimmy Lockhart
                </h3>
                <p>President<br>
                  Propel Aviation Sales &amp; Services</p>
              </ion-col>
            </ion-row>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="2" class="ion-align-self-center ion-text-center">
        <div *ngIf="showPrevNext" (click)="toNextSlide()">
          <ion-icon size="large" slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>