ion-content {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-grid {
  background-color: var(--ion-color-secondary);
}
ion-header {
  position: fixed;
  background: rgba(var(--ion-color-primary-rgb), .9);
}


.home-container {
  height: 50em;
  background-image: url(../../assets/PhilWorkingOnEngine.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// background-attachment: fixed does not work on mobile ios
// change to scroll for all mobile devices
@media only screen and (max-width: 1024px) {
  .mobile-bg-style-scroll {
    background-attachment: scroll !important;
  }
}

.home-text-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.home-text-container strong {
  // font-size: 3.5vh;
  font-size: 7vw;
  color: #fff;
  text-shadow: 5px 5px 5px black;
}

.home-text-container p {
  font-size: 3vh;
  // font-size: 2.5vh;
  color: #fff;
  margin: 0;
}

.home-text-container a {
  text-decoration: none;
}

.home-col {
  background: var(--ion-color-secondary);
}